@media screen and (min-width: 577px) and (max-width: 767px){
    .hamburger{
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg); 
      }
  
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: "DM Sans", serif;
      }
      
      html, body {
      min-width: 220px;
      position: relative;
      overflow-x: hidden;
      background-color: red;
      }
      
      
      .logo {
          max-width: 120px;
          max-height: 30px;
      }
      
      .btn {
          background-color: #EC066A;
          padding: 0.5rem 2rem;
          border-radius: 2rem;
          color: #fff;
          transition: all 200ms ease-in;
          border: 0.5px solid #EC066A;
      
      }
      
      .signBtn{
          display: flex;
          align-items: center;
          justify-content: center;
      }
      
      .signBtn a{
          color: #fff
      }
      
      .btn:nth-last-child(1){
          margin-left: 24px;
      }
      
      .btn:hover {
          color: #ffffff;
          border: 0.5px solid #fff;
          background-color: transparent;
      }
      
    
      .nav-menu{
          position: fixed;
          left: 100%;
          top: 100px;
          gap: 0;
          flex-direction: column;
          background-color: #EC066A;
          width: 90%;
          text-align: center;
          transition: 0.3s;
          display: flex;
          list-style: none;
          align-items: center;
          justify-content: space-evenly;
      }
  
      ul {
          border-radius: 0;
      }
    
      .nav-item{
        margin: 16px 0;
      }
    
      .nav-menu.active{
        left: 0;
      }
  
      .nav-link{
          color: #fff;
      }
  
      .btn1{
          display: none;
      }
      .overlay p {
          margin: 1rem;
          font-size: 1rem;
          line-height: 1.5rem;
      }
      .signBtn {
          margin-top: 0rem;
      }
  /*Navbar Style ends*/
  
  /*Main Style Starts*/
  /*Banner Style Starts*/
  .background-image {
      background-image: url('./img/banner.png');
      object-fit: contain;
      background-size:cover;
      background-position: top center;
      height: 100vh;
      width: 100vw;
      position: relative;
  }
  
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(255, 255, 255, 0.10), rgba(220, 20, 60, 0.5));
      /* display: flex; */
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    
  .overlay h1, .overlay p {
      text-align: center;
    }
  
  .overlay h1 {
      font-size: 2rem;
    }
  
  .overlay p {
      margin-top: 2rem;
      font-size: 1.2rem;
    }
  
  .banner {
      margin-top: 5rem;
      align-items: center;
      place-items: center;
    }
  
  .bannerbtn{
      margin-top: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
  .bannerbtn img {
      width: 15px;
      height: 20px;
      margin-left: 10px;
    }
  /*Banner Style ends*/
  
  /* Path Section Style Starts */
      .path {
          background: linear-gradient(#F7D8E5,#ffff);
          padding: 3rem;
          flex-direction: column;
      }
      .path1{
          padding-top: 0;
      }
      .path h1 {
          font-size: 2rem;
          color: #121212;
          text-align: center;
      }
      .path p {
          font-size: 1rem;
          line-height: 1.5rem;
          color: #888888;
          text-align: center;
      }
      .path img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 20rem;
          height: 20rem;
          padding-top: 2rem;
      }
      .num {
        background-color: #F7D8E5;
        color: #121212;
        width: 14rem;
        height: 5rem;
        line-height: 0.5;
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 7px !important;
        display: flex;
        margin-left: 7rem;
        margin-bottom: 0;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    
    .num2 {
        border-width: 3px;
        border-style: solid;
        border-right: red;
        padding-left: 1rem;
        border-top: none;
        border-bottom: none;
        border-color: #EC066A;
    }
    .num h3{
        font-size: 1.5rem;
    }
    .num p{
        font-size: 1rem;
    }
      /* Path Section Style Ends */
  
      /*Why Qiimeet Style starts*/
      .whyqiimeet {
          background-color: #fff;
          color: #000;
          padding-top: 25rem;
          align-items: center;
          place-items: center;
          margin-bottom: 10rem;
      }
  
      .whyqiimeet h1 {
          font-size: 2rem;
          text-align: center;
      }
  
      .whyQMcolumns{
          margin-top: 2rem;
          align-items: center;
          place-items: center;
          flex-direction: column;
          display: flex !important;
          columns: 2 250px;
      }
  
      /* .iconwrap{
          background-color: #FFC2DC;
          border-radius: 100% !important;
          padding: 1rem;
      } */
  
      .iconwrap .icon {
        width: 2rem;
        height: 2rem;
    }
  
      .whytxt {
          text-align: center;
          margin-top: 1rem;
  
      }
  
      .whytxt p {
          margin: 1rem 1.5rem;
      }
      /*Why Qiimeet Style ends*/
  
      /*iphone15 sec. Style starts*/
      .iphone-15 {
          align-items: center;
          place-items: center;
          padding-top: 35rem;
      }
      .iphone-15 img {
          display: block;
          margin: 0 auto;
          height: 20rem;
          width: 21rem;
      }
      /*iphone15 sec. Style ends*/
  
      /*How it works Style starts*/
      .how {
          color: #121212;
          padding: 4rem;
          align-items: center;
          place-items: center;
      }
  
      .how h1 {
          font-size: 2rem;
      }
  
      .howcolumns{
          margin-top: 3rem;
          align-items: center;
          text-align: center;
          flex-direction: column;
      }

      .how img {
        width: 2rem;
        height: 2rem;
    }
  
      /* .howwrap{
          background-color: #EC066A;
          border-radius: 100% !important;
          color: #ffff;
          margin-top: 1rem;
      } */
  
      .howtxt {
          text-align: center;
          margin-left: 2rem;
          color: #121212;
      }
  
      .howtxt p {
          margin-top: 1rem;
          color: #888888;
      }
      /*How it works ends*/
  
      /*Ready sec. Style Starts*/
      .ready {
          margin-top: 35rem !important;
          padding-top: 2rem;
          padding-left: 2rem;
          padding-right: 2rem;
          align-items: center;
          place-items: center;
          background-color: #FFE0ED;
          border-radius: 2rem;
          width: 80%;
          margin: 0 auto;
          color: #EC066A;
          font-size: 1rem;
          flex-direction: column;
      }
      #black {
          color: #121212;
      }
      .appstore {
          width: 8rem;
          height: 3rem;
      }
      .phone2 {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 2rem;
          background-position: bottom;
          width: 20rem;
      }
  /*Ready sec. Style ends*/
  
  /*Footer Style Starts*/
  #footer{
      background-color: #EC066A;
      padding: 3rem;
      margin-top: 5rem;
  }
  .foot {
      color: #fff;
  }
  
  .foot a{
      text-decoration: none;
      color: #fff;
      line-height: 2rem;
  }
  .foot2{
      margin-top: 3rem;
  }
  
  /*Footer Style ends*/
  
}
