/*Media query Starts*/
@media(max-width:500px){
    .hamburger{
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
    
      .nav-menu{
          position: fixed;
          left: 100%;
          top: 100px;
          gap: 0;
          flex-direction: column;
          background-color: #EC066A;
          width: 90%;
          text-align: center;
          transition: 0.3s;
          display: flex;
          list-style: none;
          align-items: center;
          justify-content: space-evenly;
      }
  
      ul {
          border-radius: 0 !important;
      }
    
      .nav-item{
        margin: 16px 0;
      }
    
      .nav-menu.active{
        left: 0;
      }
  
      .nav-link{
          color: #fff !important;
      }
  
      .btn1{
          display: none;
      }


/*Navbar Style ends*/

/*Main Style Starts*/
/*Banner Style Starts*/
.background-image {
    background-image: url('./img/banner.png');
    object-fit: contain;
    background-size:cover;
    background-position: top center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.banner-content{
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.10), rgba(220, 20, 60, 0.5));
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
  }
  
.overlay h1, .overlay p {
    text-align: center;
  }

.overlay h1 {
    font-size: 2rem;
  }

.overlay p {
    margin-top: 2rem;
    font-size: .9rem;
  }


  .btn {
    background-color: #EC066A;
    padding: .7rem 1rem;
    border-radius: 2rem;
    color: #fff;
    transition: all 200ms ease-in;
    border: 1px solid #EC066A;
    text-decoration: none;
    font-weight: 600;

}

.bannerbtn {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.break{
    display: none;
}

.banner {
    align-items: center;
    place-items: center;
  }

.bannerbtn img {
    width: 15px;
    height: 20px;
    margin-left: 10px;
  }
/*Banner Style ends*/

/* Path Section Style Starts */
    .path {
        background: linear-gradient(#F7D8E5,#ffff);
        padding: 3rem;
        flex-direction: column;
    }
    .path1{
        padding-top: 0;
    }
    .path h1 {
        font-size: 2rem;
        color: #121212;
        text-align: center;
    }
    .path p {
        font-size: .9rem;
        line-height: 1.5rem;
        color: #888888;
        text-align: center;
    }

    .num {
        background-color: #F7D8E5;
        color: #121212;
        width: 14rem;
        height: 4rem;
        line-height: 0.5;
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 7px !important;
        display: flex;
        margin-left: .5rem;
        margin-bottom: 0;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .path img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 17rem;
        height: 17rem;
        padding-top: 2rem;
    }

    .num {
        background-color: #F7D8E5;
        color: #121212;
        width: 14rem;
        height: 5rem;
        line-height: 0.5;
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 7px !important;
        display: flex;
        margin-left: 1rem;
        margin-bottom: 0;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    
    .num2 {
        border-width: 3px;
        border-style: solid;
        border-right: red;
        padding-left: 1rem;
        border-top: none;
        border-bottom: none;
        border-color: #EC066A;
    }
    .num h3{
        font-size: 1.5rem;
    }
    .num p{
        font-size: 1rem;
    }
    /* Path Section Style Ends */

    /*Why Qiimeet Style starts*/
    .whyqiimeet {
        background-color: #fff;
        color: #000;
        padding-top: 1rem;
        padding: 0 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        place-items: center;
        margin-bottom: 1rem;
    }

    .whyqiimeet h1 {
        font-size: 2rem;
        text-align: center;
    }

    .whyQMcolumns{
        margin-top: 2rem;
        align-items: center;
        place-items: center;
        flex-direction: column;
    }

    /* .iconwrap{
        background-color: #FFC2DC;
        border-radius: 100% !important;
        padding: 1rem;
    } */

    .iconwrap .icon {
        width: 3rem;
        height: 3rem;
    }

    .whytxt {
        text-align: center;
        margin-top: 1rem;

    }

    .whytxt p {
        margin: 1rem 1.5rem;
        color: #888888 !important;
    }
    /*Why Qiimeet Style ends*/

    /*iphone15 sec. Style starts*/
    .iphone-15 {
        align-items: center;
        place-items: center;
        padding-top: 2rem;
        padding-bottom: 2srem;
    }
    .iphone-15 img {
        display: block;
        margin: 0 auto;
        height: 20rem;
        width: 21rem;
    }
    /*iphone15 sec. Style ends*/

    /*How it works Style starts*/
    .how {
        color: #121212;
        padding-top: 4.5rem;
        padding-bottom: 4rem;
        align-items: center;
        place-items: center;
        width: 100%;
        text-align: center;
    }


    .social-img img{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-img a{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }


    .footer-links {
        display: block;
        width: 50%;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding-bottom: 15px;
    }

    .footer-link-item{
        text-decoration: none;
        list-style-type: none;
    }

    .footer-link-item li a{
        text-decoration: none;
        list-style-type: none;
    }

    .social-logo{
        width: 100%;
    }

    .footer-socials {
        display: flex;
        list-style: none;
        width: 92%;
        align-items: center;
        justify-content: space-between !important;
        background-color: transparent;
        padding-bottom: 1rem;
        border-radius: 0rem;
    }
    

    .how h1 {
        font-size: 2rem;
        text-align: center;
    }

    .how-it-work-item {
        display: flex;
        align-items: center;
        margin: 20px 25px;
        flex-direction: column;
    }

    .howcolumns{
        margin-top: 1rem;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .how img {
        width: 3rem;
        height: 3rem;
        margin-top: 0.2rem;
    }
    .how h4{
        margin-top: 1rem;
    }
    
    .how p{
        margin-top: 1rem;
    }
    /* .howwrap{
        background-color: #EC066A;
        border-radius: 100% !important;
        color: #ffff;
        margin-top: 1rem;
        width: 3rem;
    } */

    .howtxt {
        text-align: center;
        margin-left: 0rem;
        color: #121212;
    }

    .howtxt p {
        margin-top: 1rem;
        color: #888888;
    }
    /*How it works ends*/

    /*Ready sec. Style Starts*/
    .ready {
        margin-top: 0rem !important;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: center;
        place-items: center;
        background-color: #FFE0ED;
        border-radius: 2rem;
        width: 90%;
        margin: 0 auto;
        color: #EC066A;
        font-size: 1rem;
        flex-direction: column;
    }
    #black {
        color: #121212;
    }
    .appstore {
        width: 8rem;
        height: 2rem;
    }
    .phone2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        background-position: bottom;
        width: 16rem;
    }
/*Ready sec. Style ends*/

/*Footer Style Starts*/

.footlogo{
    width: 6rem;
}

.socials img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}
.downloads{
    color: #fff;
}
.downloads img {
    width: 8rem;
    height: 2.5rem !important;
}    
.foot2{
    display: flex;
    flex-direction: row;
}
.footw{
    color: #fff;
}
.foot p {
    font-size: 0.8rem;
}
/*Footer Style ends*/


  }