@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", serif;
}

/* Footer styles */
.foot1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

html, body {
min-width: 220px;
position: relative;
overflow-x: hidden;
min-width: 250px;
margin: 0 auto;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    max-width: 130px;
    max-height: 40px;
}

.btn {
    background-color: #EC066A;
    padding: 1rem 3rem;
    border-radius: 2rem;
    color: #fff;
    transition: all 200ms ease-in;
    border: 1px solid #EC066A;
    text-decoration: none;
    font-weight: 600;

}

.signBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signBtn:nth-last-child(1){
    margin-left: 1.5rem;
}

.signBtn a{
    color: #fff;
}

/* .btn:nth-last-child(1){
    margin-left: 24px;
} */

.btn:hover {
    color: #ffffff;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all 200ms ease-in;
}

/*Navbar Style Starts*/
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    top: 0;
    position: absolute;
    background: transparent;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 1%);
}

.nav-menu{
    display: flex;
    list-style: none;
    width: 55%;
    align-items: center;
    justify-content: space-around;
    padding: 1.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #fff;
    border-radius: 40rem;
}

.nav-menu li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.nav-menu li a:hover{
color: #EC066A;
transition: all 200ms ease-in;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}
/*Navbar Style ends*/

/*Main Style Starts*/
/*Banner Style Starts*/
.background-image {
    background-image: url('./img/banner.png');
    object-fit: cover;
    background-size:cover;
    background-position: top center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.10), rgba(220, 20, 60, 0.5));
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
.overlay h1, .overlay p {
    text-align: center;
  }

.overlay h1 {
    font-size: 3.5rem;
  }

.overlay p {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

.banner {
position: absolute;
 top: 50%;
left: 50%;
 margin: 0 auto;
 position: relative;
 transform: translate(-50%, -50%)
  }

.banner-content{
    width: 50%;
    margin: 0 auto;
}

.bannerbtn{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    margin: 5rem auto;
  }

  .bannerbtn a{
    font-weight: 600;
  }

.bannerbtn img {
    width: 20px;
    height: 20px;
  }

  #appicon {
    width: 6rem;
  }
/*Banner Style ends*/

/* Path Section Style Starts */

.love-section{
    background: linear-gradient(#F7D8E5,#ffff);

} 


.path {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.path h1 {
    font-size: 3rem;
    color: #121212;
}
.path p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #888888;
}
.path2{
    position: relative;
}
.path img {
    width: 33rem;
    height: 28rem;
    margin-left: 5rem;
    top: 0;
}
.num {
    background-color: #F7D8E5;
    color: #121212;
    width: 15rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    margin-left: 6rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.num2 {
    border-width: 3px;
    border-style: solid;
    border-right: red;
    padding-left: 1rem;
    border-top: none;
    border-bottom: none;
    border-color: #EC066A;
}
.odometer.plus {
    position: relative;
  }
  
  .odometer.plus::after {
    content: "+";
    position: absolute;
    top: 0;
    right: -16px;
    font-size: 20px;
  }
/* Path Section Style Ends */

/*Why Qiimeet Style starts*/
.whyqiimeet {
    background-color: #fff;
    color: #000;
    padding: 0 6rem 6rem;
    align-items: center;
    text-align: center;
}

.whyqiimeet h1 {
    font-size: 3.5rem;
}

.whyQMcolumns{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
max-width: 80%;
margin: 0 auto;
margin-top: 3rem;
}

/* .iconwrap{
    background-color: #FFC2DC;
    border-radius: 50%;
    padding: 1.5rem;
} */

.iconwrap .icon {
    width: 4rem;
    height: 4rem;
}

.whytxt {
    text-align: center;
    margin-top: 1rem;

}

.whytxt p {
    margin-top: 1rem;
}
/*Why Qiimeet Style ends*/

/*iphone15 sec. Style starts*/
.iphone-15 {
    align-items: center;
    place-items: center;
}
.iphone-15 img {
    display: block;
    margin: 0 auto;
    height: 41.5rem;
    width: 43rem;
}
/*iphone15 sec. Style ends*/

/*How it works Style starts*/
.how {
    width: 100%;
    color: #121212;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;


    align-items: center;
    place-items: center;
}

.how-it-work-item{
    display: flex;
    align-items: center;
    margin: 20px 25px;
}

.how h1 {
    font-size: 3.5rem;
}

.howcolumns{
    margin-top: 3rem;
    align-items: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.how img {
    width: 3rem;
    height: 3rem;
}
/* .howwrap{
    background-color: #EC066A;
    border-radius: 50%;
    padding: 1rem;
    color: #ffff;
    margin-left: 1rem;
} */

.howtxt {
    text-align: left;
    margin-left: 2rem;
    color: #121212;
}

.howtxt p {
    margin-top: 1rem;
    color: #888888;
}
/*How it works ends*/

/*Ready sec. Style Starts*/
.ready {
    padding-top: 1.5rem;
    padding-left: 3rem;
    align-items: center;
    place-items: center;
    background-color: #FFE0ED;
    border-radius: 3rem;
    width: 80%;
    display: flex;
    margin: 3rem auto;
    color: #EC066A;
    font-size: 1.5rem;
}
#black {
    color: #121212;
}
.appstore {
    width: 10rem;
    height: 3rem;
}
.phone2 {
    background-position: bottom;
    margin-left: 7rem;
}
/*Ready sec. Style ends*/

/*Main Style ends*/
  
/*Footer Style Starts*/
#footer{
    background-color: #EC066A;
    padding: 2rem;
    margin-top: 5rem;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
 
}
.downloads{
    color: #fff;
}
.downloads img {
    width: 9rem;
    height: 3rem;
}    
.foot2{
    display: flex;
    color: #fff;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.footer-link{
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 0px;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 15px;
}

.footer-link-item li {
color: #fff;
margin: 10px 0;
}

.footer-socials{
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between !important;
    background-color: transparent;
    padding-bottom: 1rem;
    border-radius: 0rem;
}

.social-logo{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}



.line{
    margin-bottom: 1.5rem;
}

.footer-link-item li {
    font-size: 16px;
    }

    h3 {
        font-size: 24px;
    }


.logo-socials{
    width: 100%;
}

.footer-link-item li a{
    text-decoration: none !important;
    list-style-image: none !important;
    color: #fff;
    text-align: left;
    padding-bottom: 10px;
    }



/*Footer Style ends*/

   